<strong>Você foi adicionado em um programa</strong>

<p>Olá, {{ name }}</p>

<p>Você foi adicionado como avaliador(a) no programa: {{ project }}.</p>

<p>Verifique sua conta para visualizar os detalhes do programa que você designado.</p>

