<strong>Você foi adicionado em um projeto</strong>

<p>Olá, {{ name }}</p>

<p>Você foi adicionado como avaliador(a) no projeto: {{ project }}.</p>

<p>Verifique sua conta para visualizar os detalhes do projeto que você designado.</p>

