<strong>Conta criada com sucesso</strong>

<p>Olá, {{ name }}. Sua conta foi criada com sucesso.</p>

<p>Para ativar sua conta utilize o link abaixo:</p>

<a href="{{ link }}">Ativar conta</a>

<p>Ao acessar sua conta utilize o seu CPF e a seguinte senha: {{ password }}</p>
