<strong>Atualização de perfil</strong>

<p>Olá, {{ name }}</p>

<p>Você foi adicionado como avaliador(a). A partir de agora você poderá ser selecionado(a) para avaliar projetos na FAPEAP.</p>

<p>Verifique sua conta para visualizar programas e projetos que você foi/será designado.</p>

